html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-style: normal;
  color: #333333;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 140px 0;
}

.title {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 60px;
  z-index: 10;
}

.title::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 100%;
  bottom: 7px;
  background-color: rgba(35, 82, 222, 0.1);
}

.btn {
  padding: 9px 24px;
  background-color: #2352DE;
  letter-spacing: 0.6px;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #ffffff;
  color: #2352DE;
  outline: 1px solid #2352DE;
}

.btn:focus {
  outline: 3px solid #5A7DE6;
}

.btn:active {
  outline: transparent;
  color: #ffffff;
  background-color: #2352DE;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  transition: opacity 0.5s ease-in-out;
}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  outline: 3px solid #2352de;
}

.logo:active {
  opacity: 0.5;
}

.header {
  position: relative;
  height: 100vh;
  color: #ffffff;
  padding-top: 77px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 82, 222, 0.5);
  z-index: -5;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 31px;
}

.menu__link {
  font-weight: 600;
  line-height: 130%;
  border-radius: 3px;
  transition: opacity 0.5s;
}

.menu__link:hover,
.header__show:hover {
  text-decoration: underline;
}

.menu__link:focus,
.header__show:focus {
  outline: 2px solid rgba(255, 255, 255, 0.7);
}

.menu__link:active,
.header__show:active {
  opacity: 0.7;
}

.header__content {
  height: calc(100vh - 53px - 77px);
  display: flex;
  align-items: center;
}

.header__title {
  max-width: 60%;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
}

.header__subtitle {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
}

.header__show {
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 32px;
  font-weight: 600;
  line-height: 130%;
  border-radius: 3px;
  transition: opacity 0.5s;
}

.header__show::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 37px;
  height: 21px;
  background-image: url("../images/header-arrow.svg");
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
}

.about__text p:not(:last-child) {
  margin-bottom: 27px;
}

.skills {
  background-color: #f6f6f8;
}

.skills__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__img {
  margin-right: 10px;
}

.skills__general {
  max-width: 665px;  
  width: 100%;
}

.skills__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
}

.skills__item:not(:last-child) {
  margin-bottom: 86px;
}

.skills__grey {
  background-color: #dbdbed;
  height: 32px;
  width: 90%;
}

.skills__blue {
  background-color: #2352de;
  height: 100%;
}

.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 330px;
  padding-top: 90px;
  position: relative;
}

.services__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__item--code::before {
  background-image: url("../images/services-item-code-icon.svg");

}

.services__item--dev::before {
  background-image: url("../images/services-item-dev-icon.svg");
}

.services__item--chat::before {
  background-image: url("../images/services-item-chat-icon.svg");
}

.services__subtitle {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
}

.services__text {
  font-size: 16px;
  line-height: 26px;
}

.portfolio {
  text-align: center;
  padding-top: 3px;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;  
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 45px;
}

.portfolio__button {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 0.5px solid transparent;
  transition: all 0.5s;
}

.portfolio__button:hover {
  color: #2352DE;
  border-bottom: 0.5px solid #2352DE;
}

.portfolio__button:focus {
  border-radius: 3px;
  outline: 2px solid #5A7DE6;
}

.portfolio__button:active {
  color: #2352DE;
  outline: transparent;
  text-decoration: none;
}

.mixitup-control-active:focus {
  color: #2352DE;
  outline: 1px solid transparent;
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin-bottom: 60px;
}

.clients {
  background-color: #f6f6f8;
  text-align: center;
}

.clients__content {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.clients__item {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clients__photo {
  border-radius: 50%;
  margin-bottom: 12px;
  max-width: 130px;
}

.clients__name {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #2352DE;
}

.clients__text {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
}

a.clients__link {
  width: 100%;
  max-width: 570px;
  height: inherit;
  min-height: 400px;
  position: relative;
  background-image: url("../images/clients-img.jpg");
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  transition: all 0.3s;
}

.clients__play {
  z-index: 20;
  transition: transform 0.3s;
}

.clients__link:hover::before{
  opacity: 0.6;
}

.clients__link:hover .clients__play {
  transform: scale(1.5);
}

.clients__link:focus {
  outline: 3px solid rgba(35, 82, 222, 0.5);
}

.clients__link:active .clients__play {
  transform: scale(0.6);
}

.clients__link:active::before {
  opacity: 0.45;
}

.testimonials__items {
  display: flex;
  justify-content: space-between;
}

.testimonials__item {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  padding: 140px 10px 50px;
  background-color: #f6f6f8;
  border: 1px solid #DBDBED;
}

.testimonials__item::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 80px;
  bottom: 57%;
  left: 50%;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.testimonials__item--work::before {
  background-image: url("../images/testimonials-work.svg")
}
.testimonials__item--clients::before {
  background-image: url("../images/testimonials-clients.svg")
}
.testimonials__item--coffee::before {
  background-image: url("../images/testimonials-coffee.svg")
}
.testimonials__item--review::before {
  background-image: url("../images/testimonials-review.svg")
}

.testimonials__text {
  margin-bottom: 20px;
  line-height: 130%;
}

.testimonials__number {
  font-weight: 600;
  font-size: 44px;
  line-height: 100%;
}

.contacts {
  padding-top: 0;
}

.contact__content {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  max-width: 540px;
  font-size: 16px;
  font-style: normal;
}

.contacts__text {
  line-height: 160%;
  margin-bottom: 27px;
}

.contacts__items {
  margin-bottom: 16px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 7px;
}

.contacts__link {
  color: #2352DE;
  line-height: 130%;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.contacts__socials {
  display: flex;
}

.contacts__socials-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__socials-link {
  display: block;
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  transition: all 0.3s;
}

.contacts__link:hover {
  border-bottom: 1px solid #2352DE;
}

.contacts__socials-link:hover {
  opacity: 0.7;
}

.contacts__link:focus,
.contacts__socials-link:focus {
  border-radius: 4px;
  outline: 2px solid rgba(35, 82, 222, 0.5);
}

.contacts__link:active {
  opacity: 0.7;
}

.contacts__socials-link:active {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15)
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 540px;
}

.form__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.form__top .form__label {
  width: 47%;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
}

.form__input {
  background-color: #F6F6F8;
  border: none;
  padding: 14px 15px;
  font-size: 14px;
  line-height: 130%;
  color:#000000;
  transition: all 0.3s;
  margin-top: 8px;
}

textarea.form__input {
  min-height: 115px;
  resize: none;
  margin-bottom: 31px;
  letter-spacing: -0.02em;
}

.form__input::placeholder {
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.form__input:hover::placeholder {
  color:#000000;
}

.form__input:focus {
  outline: 3px solid rgba(35, 82, 222, 0.5);
}

.footer {
  background-color: #343740;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}